@model ASAN.Entities.Estate

@{
    var viewName = "ویرایش ملک";
    ViewData["Title"] = viewName;
}


<div class="cs-panel-body-style clearfix">

    <form asp-controller="Estate"
          asp-action="Update"
          asp-area=""
          id=""
          method="post"
          autocomplete="off"
          class="form-horizontal">

        <input asp-for="Id" type="hidden" />

        @{ await Html.RenderPartialAsync("_PartialIdentification", Model).ConfigureAwait(false); }


        <div class="clearfix"></div>
        <div class="col-md-6">

            <div class="form-group">
                <button type="submit" class="btn btn-success pull-right" title="ذخیره">ذخیره</button>
                @*<a href="@Url.Action("Create")" class="btn btn-success btn-sm pull-right" title="ذخیره"><span class="glyphicon glyphicon-ok"></span></a>*@
                <a href="@Url.Action("Index")" class="btn btn-warning pull-right" title="انصراف">انصراف</a>
            </div>

        </div>

    </form>

</div>