@model IEnumerable<ASAN.Entities.Owner>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="column-sortable" data-enterkey-function="fnGetBrands">                
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Tel</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td data-name="Id">@item.Id</td>
                    <td data-name="FirstName">@item.FirstName</td>
                    <td data-name="LastName">@item.LastName</td>
                    <td data-name="PhoneNumber">@item.PhoneNumber</td>
                </tr>
            }

        </tbody>
    </table>
</div>